/*

Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>
This theme has been modified to fit a dark theme.

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #2d2d2d;
  color: #fff;
}

.hljs-comment,
.hljs-quote,
.hljs-variable {
  color: #4dbf4d;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
  color: #4d88ff;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
  color: #f24949;
}

.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
  color: #2b91af;
}

.hljs-doctag {
  color: #808080;
}

.hljs-attr {
  color: #f24949;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #56B6FB;
}


.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
