/*
	This is the color css for the theme. Colors are defined here instead of in the main file, so they can be easier adjusted. 
	To adjust a color, you can change it below or opt for a separate css file to overwrite the color definition. Include that
	css file after this file in the page template.
*/
a {
	color: #56B6FB;
}

a:hover, a:visited:hover {
	color: #CDEAFE;
}

a:visited {
	color: #56B6FB;
}

body {
	color: #dcdfd8;
}

code, pre.nocode {
	background: #272727;
	border: solid 1px #222;
}

footer {
	color: #8a8a8a;
}

hr {
	border-top-color: #8a8a8a;
}

input[type="text"] {
	border-color:  #ccc;
	border-radius: 0;
}

ins {
	background: #ff9;
	color: #000;
}

label {
	color: #999;
}

mark {
	background: #ff0;
	color: #000;
}
/* #endregion*/

/* #region general classes */
.no-highlight {
	color: #333;
}

.toc-footer hr {
	border-color: #ccc;
}
/* #endregion */

/* #region Alert boxes*/
.alert {
	background: #fff;
}

.alert p {
	color:#fff;
}

.alert-title {
	color: #fff;
	background: #6ab0de;
}

.alert.alert-danger {
	background: #593d3a;
}

.alert.alert-danger .alert-title {
	background: linear-gradient(330deg, #f29f97, #db786e, #ba594f);
}

.alert.alert-warning {
	background: #59473a;
}

.alert.alert-warning .alert-title {
	background: linear-gradient(330deg, #f0b37e, #e69d5d, #d9873f);
}

.alert.alert-info {
	background: #36434d;
}

.alert.alert-info .alert-title {
	background: linear-gradient(330deg, #6ab0de, #3f94cf, #2e74a6);
}

.alert.alert-neutral {
	background: #424242;
}

.alert.alert-neutral .alert-title {
	background: linear-gradient(330deg, #2d2d2d, #272727);
}

.alert.alert-neutral a {
	color: #2980B9;
}

.alert.alert-tip {
	background:#364d48;
}

.alert.alert-tip .alert-title {
	background: linear-gradient(330deg, #6adec7, #3fcfb2, #2ea68e);
}

/* #endregion*/

/* #region Tables*/
.table caption {
	color: #dcdfd8;
}

.table thead {
	color: #dcdfd8;
}

.table thead th {
	border-bottom-color: #272727;
}

.table-secondary {
	color: gray;
}

.table-tertiary {
	color: gray;
}

.table-odd td, .table-striped tr:nth-child(2n-1) td {
	background-color: #f3f6f6;
}

.table-backed {
	background-color: #f3f6f6;
}

.table-bordered-all {
	border-color: #272727;
}

.table-bordered-all td {
	border-bottom-color: #272727;
	border-left-color: #272727;
}

.table-bordered {
	border-color: #272727;
}

.table-bordered-rows td {
	border-bottom-color: #272727;
}

.table-horizontal td, .table-horizontal th {
	border-bottom-color: #272727;
}
/* #endregion*/

/* #region Breadcrumbs*/
.breadcrumbs-extra {
	color: #b3b3b3;
}
/* #endregion*/

/* #region Navigation */
.menu-vertical header {
	color: #2980B9;
}

.menu-vertical ul.currentrelative {
	background-color: #333333;
}

.menu-vertical li.current {
	background-color: #333333;
}

.menu-vertical ul.current {
	background-color: #333333;
}

.menu-vertical li.current a {
	color: #fff;
}

.menu-vertical li.current.tocentry > a, .menu-vertical li.current > a {
	color: #fff;
}

.menu-vertical li.current.tocentry ul li > a {
	color: #dcdfd8;
}

.menu-vertical li.current.tocentry ul li > a:hover {
	color: #fff;
}

.menu-vertical a {
	color: #dcdfd8;
}

.menu-vertical a:hover, .menu-vertical li.on a:hover {
	color: #fff;
}

.menu-vertical span, .menu-vertical span > a {
    color: #dcdfd8;
}

.nav-side {
	background: #272727;
}

.nav-top {
	background: #2980B9;
	color: #fff;
}

.nav-top a {
	color: #fff;
}

.nav-top img {
	background-color: #2980B9;
}

.nav-content-wrap {
	background: #333333;
}

.side-nav-search {
	background: linear-gradient(330deg, #203a4e, #2d4d64, #3b607b, #497492);
	color: #fcfcfc;
}

.side-nav-search input[type=text] {
	border-color: #2472a4;
}

.side-nav-search img {
	background-color: #2980B9;
}

.side-nav-search > a, .side-nav-search .dropdown > a {
	color: #fcfcfc;
}

.side-nav-search > a:hover, .side-nav-search .dropdown > a:hover {
	color: #ddd;
}

.nav .menu-vertical a {
	color: #b3b3b3;
}

/* #endregion*/

/* #region Tabs*/
/* 
	Tab CSS by Joseph Fusco. http://codepen.io/fusco/pen/Wvzjrm, slightly adjusted to remove the round corners. 
	Shadow colors are defined in theme.css, as they can only be defined with the shadow definition directly.
*/

.tab-wrap {
	background-color: #2d2d2d;
}

.tab:checked + label {
	background-color: #2d2d2d;
}

.tab + label {
	color: #dcdfd8;
	background-color: #272727;
}

.tab + label:hover {
	background-color: #333;
}
/* #endregion*/



/* #region media queries*/
@media screen and (max-width: 768px) {
	.body-for-nav {
		background: #333333;
	}
}

@media screen and (min-width: 1400px) {
	.nav-content {
		background: #333333;
	}
}

/* #endregion */

/* #region Search results */
#search-results .search li {
	border-bottom-color: #e1e4e5;
}

#search-results .search li:first-child {
	border-top-color: #e1e4e5;
}

#search-results .context {
	color: gray;
}

#mkdocs-search-results article h3
{
    border-top-color: #E1E4E5;
}

#mkdocs-search-query{
    border-color: #D1D4D5;
}
/* #endregion */
